@use "../base/_typography";

$primary-color: #121212;
$primary-font: "Space Mono", monospace;
$primary-background: #ffffff;

$sub-heading-font-weight: 600;
$mobile-sub-heading-font-size: 26px;
$mobile-paragraph-font-size: 1rem;
$mobile-paragraph-line-height: 1.75rem;

$desktop-sub-heading-font-size: 28px;
