@use "../abstracts/_variables" as *;
@use "../base/_typography";

.technical-skills {
  &__logo-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;
    justify-content: center;
    margin: 20px auto;
  }

  &__logo-and-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
  }

  &__logo-text {
    color: $primary-color;
    font-family: $primary-font;
    font-size: $mobile-paragraph-font-size;
    line-height: $mobile-paragraph-line-height;
    padding: 10px 0;
    text-align: center;
  }

  &__logo {
    path {
      fill: $primary-color;
    }
  }
}

@media screen and (min-width: 370px) {
  .technical-skills {
    padding: 0 40px;
    &__logo-container {
      gap: 15px;
    }
  }
}

@media screen and (min-width: 900px) {
  .technical-skills {
    &__logo-container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      align-items: baseline;
      max-width: 1080px;
      margin: 20px auto;
    }
  }
}
