@use "../abstracts/_variables" as *;
@use "./../base/_typography";

.about-me {
  padding: 40px;
  margin: 30px auto;
  max-width: 2100px;

  &__heading {
    font-family: $primary-font;
    font-size: $mobile-sub-heading-font-size;
    font-weight: $sub-heading-font-weight;
    text-align: center;
    padding: 0 20px 20px 20px;
    color: $primary-color;
  }

  &__desktop-heading {
    display: none;
  }

  &__paragraph {
    font-family: $primary-font;
    font-size: $mobile-paragraph-font-size;
    line-height: $mobile-paragraph-line-height;
    text-align: left;
    padding: 15px 0;
    color: $primary-color;
  }

  &__image-container {
    max-width: 220px;
    min-width: 220px;
    margin: 0 auto;
    padding: 20px 0;
    width: 100%;
  }

  &__image {
    width: 100%;
  }
}

@media screen and (min-width: 370px) {
  .about-me {
    padding: 0 40px;
  }
}

@media screen and (min-width: 768px) {
  .about-me {
    padding: 0 80px;
    margin: 80px auto 100px auto;

    &__heading {
      display: none;
    }

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__image-container {
      margin: 0;
      width: 100%;
    }

    &__text-container {
      margin-left: 80px;
    }

    &__desktop-heading {
      display: block;
      font-family: $primary-font;
      font-size: $desktop-sub-heading-font-size;
      font-weight: $sub-heading-font-weight;
      text-align: left;
      padding-bottom: 20px;
      color: $primary-color;
    }
  }
}
