@use "../abstracts/_variables" as *;
@use "./../base/_typography";

.header {
  padding: 5px 15px 5px 15px;
  margin: 10px 10px 10px 10px;
  align-items: center;
  justify-content: center;

  &__image-container {
    padding: 0 40px 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    transition: 0.3s ease-in-out;
    &:hover {
      transform: scale(1.01);
    }
  }

  &__image {
    width: 300px;
  }

  &__text-container {
    font-family: $primary-font;
    color: $primary-color;
  }

  &__intro {
    font-size: 22px;
    font-weight: 500;
    padding: 20px 20px 20px 0;
    text-shadow: 1.5px 1.5px 1.5px rgb(188, 188, 188);
  }

  &__heading {
    font-size: 46px;
    line-height: 54px;
    padding: 20px 20px 0 0;
    text-shadow: 1.5px 1.5px 1.5px rgb(188, 188, 188);
  }
}

@media screen and (min-width: 370px) {
  .header {
    padding: 40px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    margin: 120px 30px 94px 40px;
    padding: 30px 20px;

    &__heading {
      font-weight: 600;
      line-height: 60px;
      padding: 20px 0 20px 20px;
    }

    &__intro {
      font-size: 24px;
      padding: 20px 0 20px 20px;
    }

    &__image {
      width: auto;
    }
  }
}
