@use "./../abstracts/variables" as *;

.technical-skills {
  padding: 0 15px;
  font-family: $primary-font;

  &__heading {
    font-size: $mobile-sub-heading-font-size;
    font-weight: $sub-heading-font-weight;
    text-align: center;
    padding: 30px;
    color: $primary-color;
  }

  &__paragraph {
    line-height: $mobile-paragraph-line-height;
    text-align: center;
    padding: 10px 15px 30px 15px;
    color: $primary-color;
  }
}

@media screen and (min-width: 768px) {
  .technical-skills {
    &__heading {
      font-size: $desktop-sub-heading-font-size;
      padding: 20px 0;
    }

    &__paragraph {
      padding: 10px 40px;
    }
  }
}
