@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: "Space Mono", monospace;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    padding: 0 40px;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    margin: 0 auto;
    z-index: 1;
  }
  .navigation__logo {
    color: #121212;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s ease;
  }
  .navigation__logo:hover {
    transform: scale(1.05);
  }
  .navigation__link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }
  .navigation__list-item {
    transition: 0.3s ease;
  }
  .navigation__list-item:hover {
    transform: scale(1.05);
  }
  .navigation__link {
    color: #121212;
    text-decoration: none;
    margin: 0 20px 0 20px;
    cursor: pointer;
  }
  .navigation__link--home {
    margin-left: 0;
  }
  .navigation__link--button {
    margin-right: 0;
    background-color: #ffffff;
    border: 1px solid #121212;
    border-radius: 50px;
    color: #121212;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 5px 5px 0 rgba(29, 29, 29, 0.2);
    font-family: "Space Mono", monospace;
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s ease;
  }
  .navigation__link--button:hover {
    transform: scale(1.03);
  }
}
.header {
  padding: 5px 15px 5px 15px;
  margin: 10px 10px 10px 10px;
  align-items: center;
  justify-content: center;
}
.header__image-container {
  padding: 0 40px 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  transition: 0.3s ease-in-out;
}
.header__image-container:hover {
  transform: scale(1.01);
}
.header__image {
  width: 300px;
}
.header__text-container {
  font-family: "Space Mono", monospace;
  color: #121212;
}
.header__intro {
  font-size: 22px;
  font-weight: 500;
  padding: 20px 20px 20px 0;
  text-shadow: 1.5px 1.5px 1.5px rgb(188, 188, 188);
}
.header__heading {
  font-size: 46px;
  line-height: 54px;
  padding: 20px 20px 0 0;
  text-shadow: 1.5px 1.5px 1.5px rgb(188, 188, 188);
}

@media screen and (min-width: 370px) {
  .header {
    padding: 40px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    margin: 120px 30px 94px 40px;
    padding: 30px 20px;
  }
  .header__heading {
    font-weight: 600;
    line-height: 60px;
    padding: 20px 0 20px 20px;
  }
  .header__intro {
    font-size: 24px;
    padding: 20px 0 20px 20px;
  }
  .header__image {
    width: auto;
  }
}
.about-me {
  padding: 40px;
  margin: 30px auto;
  max-width: 2100px;
}
.about-me__heading {
  font-family: "Space Mono", monospace;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding: 0 20px 20px 20px;
  color: #121212;
}
.about-me__desktop-heading {
  display: none;
}
.about-me__paragraph {
  font-family: "Space Mono", monospace;
  font-size: 1rem;
  line-height: 1.75rem;
  text-align: left;
  padding: 15px 0;
  color: #121212;
}
.about-me__image-container {
  max-width: 220px;
  min-width: 220px;
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
}
.about-me__image {
  width: 100%;
}

@media screen and (min-width: 370px) {
  .about-me {
    padding: 0 40px;
  }
}
@media screen and (min-width: 768px) {
  .about-me {
    padding: 0 80px;
    margin: 80px auto 100px auto;
  }
  .about-me__heading {
    display: none;
  }
  .about-me__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about-me__image-container {
    margin: 0;
    width: 100%;
  }
  .about-me__text-container {
    margin-left: 80px;
  }
  .about-me__desktop-heading {
    display: block;
    font-family: "Space Mono", monospace;
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 20px;
    color: #121212;
  }
}
.technical-skills {
  padding: 0 15px;
  font-family: "Space Mono", monospace;
}
.technical-skills__heading {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding: 30px;
  color: #121212;
}
.technical-skills__paragraph {
  line-height: 1.75rem;
  text-align: center;
  padding: 10px 15px 30px 15px;
  color: #121212;
}

@media screen and (min-width: 768px) {
  .technical-skills__heading {
    font-size: 28px;
    padding: 20px 0;
  }
  .technical-skills__paragraph {
    padding: 10px 40px;
  }
}
.projects {
  margin: 80px 0 50px 0;
}
.projects .projects__heading {
  padding: 20px;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  font-family: "Space Mono", monospace;
  color: #121212;
}
.projects .projects__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .projects {
    margin: 100px 0 80px 0;
  }
  .projects .projects__heading {
    font-size: 28px;
  }
}
.footer {
  background-color: #121212;
  padding: 40px;
}
.footer__container {
  min-width: 240px;
  max-width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.footer__email {
  color: #ffffff;
  text-decoration: none;
  font-family: "Space Mono", monospace;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 50px;
  }
  .footer__container {
    margin: 0;
  }
}
.technical-skills__logo-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
  justify-content: center;
  margin: 20px auto;
}
.technical-skills__logo-and-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: auto;
}
.technical-skills__logo-text {
  color: #121212;
  font-family: "Space Mono", monospace;
  font-size: 1rem;
  line-height: 1.75rem;
  padding: 10px 0;
  text-align: center;
}
.technical-skills__logo path {
  fill: #121212;
}

@media screen and (min-width: 370px) {
  .technical-skills {
    padding: 0 40px;
  }
  .technical-skills__logo-container {
    gap: 15px;
  }
}
@media screen and (min-width: 900px) {
  .technical-skills__logo-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: baseline;
    max-width: 1080px;
    margin: 20px auto;
  }
}
.projects__card {
  background-color: inherit;
  color: #121212;
  font-family: "Space Mono", monospace;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  margin: 30px 20px;
}
.projects__card .projects__image {
  width: 100%;
  height: auto;
}
.projects__card .projects__body {
  background-color: inherit;
  padding-top: 20px;
}
.projects__card .projects__language {
  font-size: 0.9rem;
  margin: 5px 0;
  text-transform: uppercase;
}
.projects__card .projects__card-heading {
  font-size: 1.25rem;
}
.projects__card .projects__description {
  margin: 25px 0;
}
.projects__card .projects__buttons {
  margin-top: 20px;
}
.projects__card .projects__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: #121212 1px solid;
  border-radius: 7px;
  color: #121212;
  cursor: pointer;
  font-family: "Space Mono", monospace;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px;
  text-decoration: none;
  transition: 0.3s ease;
}
.projects__card .projects__button:hover {
  transform: scale(1.05);
}
.projects__card .projects__button--preview {
  margin-left: 12px;
}

@media screen and (min-width: 340px) {
  .projects__card {
    width: 300px;
  }
}/*# sourceMappingURL=main.css.map */